<header>
    <div class="sticky">
        <nav>
            <ul class="nav_ul">
                <li><a href="/">Home</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <!--<li><a href="/portfolio.html">Portfolio</a></li>-->
            </ul>
        </nav>
        
        <h1>Andersen Huey</h1>
        
        <p>For any comments or inquiries see my contact info below.</p>
        
        <p class="more_content_spacing"><a href='mailto:{{ site.email }}?subject=Website Inquiry' class="contact_me">{{ site.email }}</a></p>
        <ul class="link_ul">
            <li><a href='https://github.com/{{ site.github_username }}'><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
            <li><a href='https://linkedin.com/in/{{ site.linkedin_url }}'><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</header>